@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About My Site";
}
<p>
    This web page was built using ASP.NET Web Pages. For more information, visit the 
    <a href="http://www.asp.net">ASP.NET homepage</a>.
</p>