@using System.Configuration
@using System.Web.Configuration
@{
    if (!Roles.IsUserInRole("admin")) {
        Response.Redirect("/Account/Login?returnurl=/Config.cshtml");
    }
    
    Page.Title = "Site Administration";
    Layout = "~/_SiteLayout.cshtml";
    <p>Administrative features to manage this web site.</p>
    
    var host = Request.Url.ToString();
    host = host.Substring(0, host.IndexOf(Request.Url.PathAndQuery));

    var errorMessage = "";
    var isValid = true;
    var gitExePath = ConfigurationManager.AppSettings["GitExePath"];
    var gitRootFolder = ConfigurationManager.AppSettings["GitBaseFolder"];

    if (IsPost && Request.Form["save_config"] != null)
    {
        gitExePath = Request.Form["gitExePath"];
        gitRootFolder = Request.Form["gitRootFolder"];
        if (!File.Exists(gitExePath))
        {
            isValid = false;
            <p class="message error">@gitExePath does not exist.</p>
        }
        if (!Directory.Exists(gitRootFolder))
        {
            isValid = false;
            <p class="message error">@gitRootFolder does not exist.</p>
        }
        if (isValid)
        {
            var config = WebConfigurationManager.OpenWebConfiguration("~");
            var appsettings = (AppSettingsSection)config.GetSection("appSettings");
            appsettings.Settings["GitExePath"].Value = gitExePath;
            appsettings.Settings["GitBaseFolder"].Value = gitRootFolder;
            config.Save();
            <p class="message">Configuration saved.</p>
        }
    }   
}
@section head {
<script src="@Href("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
}

<form method="post" action="">
<div class="span-15">
<h2>Projects</h2>
    <div id="projectList"></div>
</div>
<div class="span-9 last">
    <fieldset>
        <legend>Server Configuration</legend>
        <ol>
            <li>
             Please make sure <a href="http://code.google.com/p/msysgit/downloads/list">Git for Windows (1.7+)</a> is installed and enter the path of git executable.
                <label for="gitExePath">Git Executable Path:</label>
                <input type="text" id="gitExePath" name="gitExePath" value="@gitExePath"/> 
                <br /><br />
            </li>
            <li>
            Please enter your git repositories' root folder. It is the parent folder of all repositories.
                <label for="gitRootFolder">Git Repository Root Folder:</label> 
                <input type="text" id="gitRootFolder" name="gitRootFolder" value="@gitRootFolder"/>
            </li>
        </ol>
        <p class="form-actions">
            <input type="submit" name="save_config" value="Save" title="Save" />
        </p>
    </fieldset>
</div>
</form>

<script id="projectTemplate" type="text/x-jquery-tmpl"> 
    <div class="project">
        <div class="project-name"><a href="/${Id}/Repository">${Name}</a></div>
        <div class="project-url span-13">@host/${Id}.git</div>
        <div class="project-del span-2 last"><a href="/${Id}/Repository">Delete</a></div>
    </div>
</script>

<script type="text/javascript">

    $(function () {

        $.ajax({
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/odata/Repositories",
            success: function (data) {
                var repos = data.d;
                for (var i = 0; i < repos.length; i++) {
                    repos[i].Id = repos[i].Id.replace(".", "/");
                }
                $("#projectTemplate").tmpl(repos).appendTo("#projectList");
            },
            error: function (xhr) { alert(xhr.responseText); }
        });

    });

</script>  