<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GitBaseFolder" value="C:\Users\Eric\My Projects\gitweb\Git Repos" />
    <!--<add key="GitAuthenticationMode" value="All" />-->
  <add key="GitExePath" value="C:\Program Files (x86)\Git\bin\git.exe" /><add key="GitBaseFolder" value="C:\Users\Public" /><!--<add key="GitAuthenticationMode" value="Push" />--></appSettings>
  <system.web>
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="GitHandler" verb="GET,POST" path="*.git" type="GitTools.GitHandler,GitTools" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>