<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GitExePath" value="C:\Program Files (x86)\Git\bin\git.exe" />
    <add key="GitBaseFolder" value="D:\Users\Public\Git Repos" />
    <!--<add key="GitAuthenticationMode" value="All" />-->
  </appSettings>
  <system.web>
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" />
  </system.web>
  <system.webServer>
    <modules>      
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <rewrite>
      <rules>
        <rule name="User">
          <match url="^([a-zA-Z0-9_-]+)[/]?$" />
          <action type="Rewrite" url="User.cshtml?user={R:1}" />
        </rule>
        <rule name="Repository">
          <match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/repository" />
          <action type="Rewrite" url="Repository.cshtml?u={R:1}&amp;p={R:2}" />
        </rule>
        <rule name="Manage">
          <match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/manage" />
          <action type="Rewrite" url="manage.cshtml?u={R:1}&amp;p={R:2}" />
        </rule>
        <rule name="WorkItem">
          <match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/workitem" />
          <action type="Rewrite" url="WorkItem.cshtml?u={R:1}&amp;p={R:2}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="GitHandler" verb="GET,POST" path="*.git" type="GitTools.GitHandler,GitTools" />
      <add name="staticfiles" verb="GET,HEAD" path="*" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--<add name="StarterSite" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\StarterSite.mdf;User instance=true" providerName="System.Data.SqlClient" />-->   
    <add name="StarterSite" connectionString="data source=|DataDirectory|\StarterSite.sdf;Mode=Exclusive" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>