@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Account Locked Out";
}

<div class="message error">
    Your account was locked out due to too many invalid password attempts.
</div>
<p>
    Don't worry, the account will automatically be unlocked in 60 seconds. 
    Please try again after that time has passed.
</p>